// Here's where we define some default constants
@import "partials/base";

@mixin flexbox ($flexDirection, $justifyContent, $alignItems){
    display:flex;
    flex-direction:$flexDirection;
    justify-content:$justifyContent;
    align-items:$alignItems;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background: -moz-linear-gradient(90deg, #ffffff 0%, #D6D6D6 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D6D6D6), color-stop(100%, #ffffff)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #D6D6D6 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #ffffff 0%, #D6D6D6 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #ffffff 0%, #D6D6D6 100%); /* ie10+ */
    background: linear-gradient(0deg, #ffffff 0%, #D6D6D6 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6D6D6', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
    background-repeat: no-repeat;
}

img{
    width:100%;
}
.contenedor{
    width:70%;
    height:500px;
    background-color:white;
    box-sizing: border-box;
    margin:1% auto 0 auto;
    padding:1% 2% 1% 2%;
    -webkit-box-shadow: 10px 10px 14px -5px rgba(224,221,224,1);
    -moz-box-shadow: 10px 10px 14px -5px rgba(224,221,224,1);
    box-shadow: 10px 10px 14px -5px rgba(224,221,224,1);
    @include flexbox(row, space-between, center);

    .imagen{
        width:$border-radius1;
        height:$border-radius1;
        -webkit-border-radius: $border-radius1;
        -moz-border-radius: $border-radius1;
        border-radius: $border-radius1;
        overflow:hidden;
    }
    .informacion{
        width:60%;
        height:100%;
        .cajadetextos{
            width:100%;
            height:60%;
            @include flexbox(row, space-between,flex-start);
            .texto{
                width:50%;
                height:100%;
                box-sizing: border-box;
                padding:2%;
                font-size: 15 px;
                line-height: 150%;
                span{
                    font-weight: bold;
                }
            }
        }
        ul{
            width:100%;
            height:40%;
            padding:0;
            box-sizing: border-box;
            list-style-type:none;
            @include flexbox(row, space-between, center);
            li{
                width: $border-radius2;
                height: $border-radius2;
                -webkit-border-radius: $border-radius2;
                -moz-border-radius: $border-radius2;
                border-radius: $border-radius2;
                overflow:hidden;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .contenedor{
        width:90%;
        height:auto;
        padding:5% 2% 2% 2%;
        margin:auto;
        @include flexbox(column, flex-start, center);

        .imagen{
            margin-bottom: 30px;
        }
        .informacion{
            height: auto;

            ul{
                height: 300px;
                margin-top:30px;
                @include flexbox(row, space-between, flex-start);
                flex-wrap: wrap;

                li{
                    display: inline;
                }

                li:nth-child(2){
                    
                }

                li:nth-child(3){
                    align-self:center;

                }

                li:nth-child(4){
                    align-self:flex-end;

                }

                li:nth-child(5){
                    align-self:flex-end;
                }

            }
        }   
    }
}