/* line 11, ../sass/style.scss */
body {
  margin: 0;
}

/* line 15, ../sass/style.scss */
.contenedor {
  width: 70%;
  height: 500px;
  background-color: red;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
